@charset "utf-8";

/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none} input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
body {min-width:320px;background-color:#fff}

address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

/* common */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} .ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} .screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} .screen_hide {font-size:0;line-height:0;visibility:hidden}
.f_l {float:left}
.f_r {float:right}
.clear_g {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
.cl_b {width:0;height:0;font-size:0;line-height:0;clear:both}
.show {display:block}
.hide {display:none}
.tbl {border-collapse:collapse;border-spacing: 0}

.page_loading {position:fixed;top:200px;left:50%;z-index:100;width:40px;height:40px;margin-left:-20px;background:url(http://i1.daumcdn.net/img-section/cartoon/webtoon2015/ico_loading.gif);text-indent:-9999px}